.container {
	width:85%;
}



/* clickable div*/
#bg {
	position:fixed;
	top: 40%;
	min-height: 3em;
	left:25vw;
	background-color: #2d2d2d;;
	color: white;
	text-align: center;
	z-index: auto;
}

.about {
	background-color: #e60000;
	z-index: 1;
	color: White;
}

.image {
	position: fixed;
	right: 75%;
	left:5%;
	top: 5%;
}

.icon {
	max-width: 10px;
	max-height: 10px;
	position:fixed;
	top: 5%;
	right: 20%;
	bottom: 85%;
}

.linkedgit {
	position:fixed;
	top: 80%;
	left: 10%;
}


/*for testing */
.purple {
	min-height: 10em;
}

.myprojects {
	min-height: 4em;
	background-color: red;
}

.parallax {
  /*background-color: #313131;*/
  height: 100%;
   /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;*/
  background-size: cover;
	z-index: -6;
  /*following just for demo purposes to add height and top padding*/
  height: 180vh;
  padding-top: 200vh;
}

.parallax-curtain {
	height: 100vh;
	z-index: auto;
	background:rgba(0,0,0,0.1);
}
