
/* container background */
/*.container {
	background-color: #cecece;
}*/

/* clickable div*/
#bg {
	position:fixed;
	top: 40%;
	min-height: 3em;
	left:25vw;
	background-color: #2d2d2d;;
	/*z-index: -2;*/
	color: white;
	text-align: center;
}

.about {
	background-color: #e60000;
	z-index: 1;
	color: White;
}

.image {
	margin-left: -2px;
	position: fixed;
	right: 80%
	left:1%;
	/*z-index: -4;*/
}

.icon {
	max-width: 10px;
	max-height: 10px;
	position:fixed;
	top: 2%;
	right: 8%;
	bottom: 88%;
}

.parallax {
  background-color: black;
  background-image: url("/Users/Titan/sites/week6/1monday/Testing/space.png");
  height: 100%;
   /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;*/
  background-size: cover;
	z-index: -6;
  /*following just for demo purposes to add height and top padding*/
  height: 300vh;
  padding-top: 200vh;
}


.parallax-curtain {
	background-image: url("/Users/Titan/sites/week6/1monday/Testing/dino.jpeg");
	height: 100vh;
	z-index: auto;
	background:rgba(0,0,0,0.5);
}
