

.container {
	background-color: #cecece;
	width: 100%;
	min-height: 600px;
}

#bg {
	height: 15vh;
	position:absolute;
	top: 50%;
	left: 20vw;
	background-color: white;
	z-index: 1;
	font-size: 3em;
	color: white;
	text-align: center;
}

.image {
	margin-left: -10px;
	background-image: url(http://cdn.playbuzz.com/cdn/80d514bc-30c8-4fd2-ba33-d6cac800a6cc/b22b62d5-b282-4be1-8138-b4950dfc362f.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 160vh;
	background-size: auto;

}

.parallax {
  background-color: black;
  background-image: url("/Users/Titan/sites/week6/1monday/Testing/space.png");
  height: 60%;
   /*Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;*/
  background-size: cover;
  /*following just for demo purposes to add height and top padding*/
  height: 100vh;
  padding-top: 200vh;
}


.parallax-curtain {
	background-image: url("/Users/Titan/sites/week6/1monday/Testing/dino.jpeg");
	height: 100vh;
	background:rgba(0,0,0,0.5);
}
